<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Disscustion</title>

</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="index.html">
                    <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-laugh-wink"></i></div>
                    <div class="sidebar-brand-text mx-3" > <span>JavaQuiz</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="nav navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item" role="presentation"><a class="nav-link"
                            href="index.html"><span>Home&nbsp;</span></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="user.html"><span>User</span></a>
                    </li>
                    <li class="nav-item" role="presentation"><a class="nav-link active"
                            href="lesson.html"><span>Lessons</span></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link"
                            href="programs.html"><span>Programs</span></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link"
                                                                href="notifycation.html"><span>Notification</span></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link"
                            href="login.html"><span>Logout</span></a></li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0"
                        id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <div class="card">
                    <div class="card-header">
                        <h3>Disscustion</h3>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            {{#each chat}}
                            <li class="list-group-item" style="margin-bottom:6px;">
                                <div class="media">
                                    <div class="media-body">
                                        <div class="media" style="overflow:visible;">
                                            <div>
                                                <img class="mr-3" style="width: 25px; height:25px;"
                                                    src="{{this.imageUrl}}">
                                            </div>
                                            <div class="media-body" style="overflow:visible;">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <a href="#">{{this.username}}</a>
                                                        <p>{{this.message}}<br>
                                                            <small class="text-muted">Vote:{{this.vote}}<br>
                                                                {{this.date}}</small>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © Brand 2021</span></div>
                </div>
            </footer>
        </div>
    </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>




    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
    <script src="assets/js/Drag-and-Drop-File-Input.js"></script>
    <script src="assets/js/File-Input---Beautiful-Input--Button-Approach-Jasny-Bootstrap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="assets/js/Table-With-Search.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

</html>